@import '~bootstrap/scss/bootstrap';


/* -- VERIF -- */
//[class*="container"] {
 // border: 1px solid coral;
//}
// ​
// [class*='row'] {
//   border: 1px solid red;
// }

// [class*='col-'] {
//   border: 1px solid yellow;
// }




body {
  background-color: lightblue;
}

/** *************
**  THEMES
************* */
// Navbar, Modal header, Modal Btn
$color-hotpink: hotpink!important;
$color-hotpinkLight: rgb(240, 216, 228)!important;
// $color-green: #00FF00;
// $color-blue: #0000FF;
body.HotPink {
  color: $color-hotpink;
}


.createBtnSpan.HotPink,
.themeHotPink a {
  color: $color-hotpink;
}

.ui-modal-header.HotPink {
  background-color: $color-hotpink;
}

.headerImg.HotPink {

}


