@import '~bootstrap/scss/bootstrap';
@import '~ngx-ui-switch/ui-switch.component.scss';

/* -- VERIF -- */
//[class*="container"] {
// border: 1px solid coral;
//}
// ​
// [class*='row'] {
//   border: 1px solid red;
// }

// [class*='col-'] {
//   border: 1px solid yellow;
// }

/** *************
**  THEMES
************* */

app-panel-modal-message.ui-modal-header {
  background-color: red;
}

/* ------------ THEMES ----------------- */

:root {
  .default {
    --color-text: #000000;
    --color-list: #000000;
    --color-span: #000000;
    --color-url: #007bff;
    --img-bird: url('/assets/images/logo/bird.png');
    --img-logo: url('/assets/images/logo/logo.png');
    --background-color: lightblue;
    --background-box-color: #ffffff;
    // Color for modal
    --dt-color-primary: #5b9bd5;
    --color-light: rgba(109, 158, 209, 0.575);
  }

  .hotpink {
    --color-text: hotpink;
    --color-list: #e08ab5;
    --color-span: hotpink;
    --color-lead: #f8459e;
    --color-url: hotpink;
    --img-bird: url('/assets/images/logo/bird_hotpink.png');
    --img-logo: url('/assets/images/logo/logo_Hotpink.png');
    --background-color: lightblue;
    --background-box-color: #ffffff;
    --dt-color-primary: hotpink;
    --color-light: rgba(231, 223, 227, 0.575);
  }

  .sombre {
    --color-text: #c85f64;
    --color-list: #9e8155;
    --color-url: #9e8155;
    // --color-url: #83B75F;
    --img-bird: url('/assets/images/logo/bird_sombre.png');
    --img-logo: url('/assets/images/logo/logo_sombre.png');
    --background-color: #282c35;
    --background-box-color: #2c333e;
    --dt-color-primary: #c85f64;
    --color-light: rgba(66, 68, 73, 0.575);
  }

  .tropical {
    --color-text: #5cd376;
    --color-list: #cc7f0b;
    --color-url: #fffb00;
    // --color-url: #83B75F;
    --img-bird: url('/assets/images/logo/perroquet.png');
    --img-logo: url('/assets/images/logo/logo_tropical.png');
    --background-color: #014201;
    --background-box-color: #795e2c;
    --dt-color-primary: #b8b503;
    --color-light: rgba(30, 236, 40, 0.575);
  }
}

body.tropical {
  background-image: linear-gradient(
    rgba(0, 0, 255, 0.5),
    rgba(255, 255, 0, 0.5)
  );
}

/* Custom element */
a {
  color: var(--color-url);
  cursor: pointer;
}

body {
  background-color: var(--background-color);
  color: var(--color-text);
}
.lead {
  color: var(--color-lead);
}
span {
  color: var(--color-span);
}

.channelContainer {
  background-color: var(--background-box-color);
}

#LibertChanLogo {
  background-image: var(--img-logo);
  background-repeat: no-repeat;
  height: 252px;
  width: 435px;
  background-size: cover;
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Bird logo
.headerImg {
  background-image: var(--img-bird);
  background-repeat: no-repeat;
  height: 80px;
  width: 90px;
  background-size: cover;
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.createBtnSpan {
  color: var(--dt-color-primary);
}

li {
  color: var(--color-list);
}

.switch.switch-large small:before {
  // font-family: 'themify';
  // content: "AA";
  // content: url(assets/images/svg/eye-solid.svg);
  // background-size: 28px 28px;
  // height: 20px;
  // width: 20px;
}
