.icon {
  display: inline-flex;
  align-self: center;
}

.icon svg {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.icon.baseline svg, .icon img {
  // top: .125em;
  top: .25em;
  position: relative;
}

