<!-- <div class="vignette m-1">
  <img
    src="https://picsum.photos/200"
    alt="image du topic"
    class="vignetteImage img-fluid rounded"
  />
  <h6 class="vignetteTitle text-center">titre du topic</h6>
</div> -->

<div class="vignette" style="width: 18rem;">
  <img
    class="card-img-top mx-auto d-block"
    src="https://picsum.photos/200"
    alt="Card image cap"
  />
  <div class="card-body row">
    <h5 class="card-title text-center col-9 border mx-auto">
      Card titljbh hik hbk he aaaaaaaaaaaaaa mmmmm mmmmm mmmmmm
    </h5>
  </div>
</div>
