<div class="vignette">
  <a [routerLink]="['/chan', this.channelName, this.topicId]">
    <!-- class = img-thumbnail ? -->
    <img
      class="img-fluid rounded card-img-top mx-auto d-block px-3 my-3"
      src="{{ imageLink }}"
      alt="Miniature"
    />
    <div class="card-body row">
      <!-- class = text-truncate ? -->
      <h5 class="col-12 p-0 card-title text-center mx-auto ">
        <!-- {{ this.title }} -->
        {{ (this.title.length>30)? (this.title | slice:0:30)+'...':(this.title) }}
      </h5>
    </div>
  </a>
</div>

