.vignette {
  min-height: 10vh;
  width: 18rem;
}

.vignette img {
  max-height: 20vh;
  max-width: 10vw;
  transition: box-shadow 0.3s;
}

.vignette:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

a {
  color: inherit;
}
