[class*='container'] {
  border: 1px solid coral;
}
[class*='row '] {
  border: 1px solid red;
}
[class*='col-'] {
  border: 1px solid green;
}


.vignette {
  // min-height: 10vh;
  // width: 11.25rem;
  // width: 15rem;
  width: 60%;
  height: 60%;
  // max-height: 20vh;
  // margin: 0 auto;
}

.vignette img {
  transition: box-shadow 0.3s;
  // max-height: 25vh;
  // max-width: 25vw;
  // width: 100%;
  // height: auto;
  // display: block;
  // max-width:500px;
  max-height:200px;
  width: 100%;
  height: auto;

}

// .vignette:hover {
//   // box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
//   box-shadow: 0 0 11px rgb(117, 181, 202);
//   cursor: pointer;
// }

a {
  color: inherit;
}
a {
  text-decoration: none;
}
