<!-- <div class="vignette m-1">
  <img
    src="https://picsum.photos/200"
    alt="image du topic"
    class="vignetteImage img-fluid rounded"
  />
  <h6 class="vignetteTitle text-center">titre du topic</h6>
</div> -->

<div class="vignette" style="width: 18rem;">
  <img
    class="card-img-top"
    src="https://picsum.photos/200"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
