.vignette {
  // min-height: 10vh;
  // width: 11.25rem;
  // width: 15rem;
}

.vignette img {
  max-height: 25vh;
  max-width: 25vw;
  transition: box-shadow 0.3s;
}

// .vignette:hover {
//   // box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
//   box-shadow: 0 0 11px rgb(117, 181, 202);
//   cursor: pointer;
// }

a {
  color: inherit;
}
a {
  text-decoration: none;
}

@media screen and (min-width: 200px) and (max-width: 640px) {

  .vignette img {
    // height: 70px;
    // width: 70px;
    // transition: box-shadow 0.3s;
  }

}
