<div class="container-fluid pb-2">
  <div class="row">
    <div class="col-12 text-center">
      <hr />
      <div class="row justify-content-center">
        <!-- TODO: supprime si ok; test w/ img dans la meme col que channel.name -->
        <!-- <div class="col-2 col-md-1"> -->
          <!-- <img src="../../../assets/images/logo/logo.png" alt="LibertChan Logo" /> -->
        <!-- </div> -->
        <div class="col-6">
          <a [routerLink]="['/']">
            <!-- TODO: Async ? -->
            <!-- <img class="headerImg"
              [src]="imgSource"
              alt="LibertChan Logo"
            /> -->
            <!-- <img src='/assets/images/logo/bird.png' class="headerImg"> -->
            <div class="headerImg"></div>
            </a>
          <span>/{{ currentChannel?.shortName }}/</span><span> : </span
          ><span class="lead">{{ currentChannel?.name }}</span>
          <p class="blockquote ">
            <span>{{ currentChannel?.shortDescription }}</span>
          </p>
        </div>
      </div>
      <div class="row">
        <sup class="col-12 text-center font-italic">
          <span>Canal </span>
          <div
            *ngIf="
              currentChannel?.isModerated;
              then moderatedBlock;
              else nonModeratedBlock
            "
          ></div>
          <ng-template #moderatedBlock><span>modéré</span></ng-template>
          <ng-template #nonModeratedBlock><span>non modéré</span></ng-template>
        </sup>
      </div>
      <hr />
    </div>
  </div>
</div>
