<div class="container-fluid pb-2" style="background-color: lightblue;">
  <div class="row">
    <div class="col-12 text-center">
      <hr />
      <img src="../../../assets/images/logo/bird.png" alt="LibertChan Logo" />
      <!-- <img src="../../../assets/images/logo/logo.png" alt="LibertChan Logo" /> -->
      <span>/{{ currentChannel.shortName }}/</span><span> : </span
      ><span>{{ currentChannel.name }}</span>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <span>canal [modéré | non modéré]</span><span> : </span
      ><span>shortDescription</span>
    </div>
  </div>
</div>
