<div class="container-fluid pb-2">
  <div class="row">
    <div class="col-12 text-center">
      <hr />
      <img src="../../../assets/images/logo/bird.png" alt="LibertChan Logo" />
      <!-- <img src="../../../assets/images/logo/logo.png" alt="LibertChan Logo" /> -->
      <span>/{{ currentChannel?.shortName }}/</span><span> : </span
      ><span>{{ currentChannel?.name }}</span>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <span>canal </span>
      <div
        *ngIf="
          currentChannel?.isModerated;
          then moderatedBlock;
          else nonModeratedBlock
        "
      ></div>
      <ng-template #moderatedBlock><span>modéré</span></ng-template>
      <ng-template #nonModeratedBlock><span>non modéré</span></ng-template>
      <span> : </span>
      <span>[ {{ currentChannel?.shortDescription }} ]</span>
    </div>
  </div>
</div>
