<div class="btnModalInfosMarkdown mb-5 text-center">
  <span (click)="modalInfosMarkdown.show()">Info markdown</span>
  <!-- TODO: remove btn if not used -->
  <!-- <button class="dt-button" (click)="modal2.show()">Open panel 2</button>&nbsp;-->
  <!-- <button class="dt-button" (click)="modal3.show()">Open panel 2</button>&nbsp;  -->
</div>

<app-modal
  #modalInfosMarkdown
  modalClass="modal-lg"
  [backdrop]="false"
  [maximizable]="true"
  >
  <ng-container class="app-modal-header">La syntaxe Markdown</ng-container>

  <ng-container class="app-modal-body">
    <div class="container-fluid">
      <div class="row">

        <table class="mt-5 table table-sm">
          <thead>
            <tr>
              <th scope="col">Style</th>
              <th scope="col">Syntaxe</th>
              <th scope="col">Exemple</th>
              <th scope="col">Résultat</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">Gras</td>
              <td>** ** ou __ __</td>
              <td>**texte en gras**</td>
              <td>
                <markdown ngPreserveWhitespaces>**texte en gras**</markdown>
              </td>
            </tr>
            <tr>
              <td>Italic</td>
              <td>* * ou _ _</td>
              <td>_Le vent soufle_</td>
              <td>
                <markdown ngPreserveWhitespaces>_Le vent soufle_</markdown>
              </td>
            </tr>
            <tr>
              <td>Barré</td>
              <td>~~ ~~</td>
              <td>~~texte a modifier~~</td>
              <td>
                <markdown ngPreserveWhitespaces>~~texte a modifier~~</markdown>
              </td>
            </tr>
            <tr>
              <td>Citation</td>
              <td>></td>
              <td>> Pardon my French</td>
              <td>
                <markdown ngPreserveWhitespaces>> Pardon my French</markdown>
              </td>
            </tr>
            <tr>
              <td>Faire un lien</td>
              <td>[]()</td>
              <td>[Service Public](www.service-public.fr)</td>
              <td>
                <markdown ngPreserveWhitespaces
                  >[Service Public](www.service-public.fr)</markdown
                >
              </td>
            </tr>
            <tr>
              <td>Listes</td>
              <td>- ou *</td>
              <td>
                * Charles <br />
                * Léon <br />
              </td>
              <td>
                <markdown ngPreserveWhitespaces>
                  * Charles
                  * Léon
                </markdown>
              </td>
            </tr>
            <tr>
              <td>Listes numérotées</td>
              <td>1. 2. ...</td>
              <td>
                1. Manger <br />
                2. Dormir <br />
              </td>
              <td>
                <markdown ngPreserveWhitespaces>
                  1. Manger 2. Dormir
                </markdown>
              </td>
            </tr>
            <tr>
              <td>Titres</td>
              <td># ## ... ######</td>
              <td>
                ## Titre<br />
                ###### Petit titre<br />
              </td>
              <td>
                <markdown ngPreserveWhitespaces>
                  ## Titre
                  ###### Petit titre
                </markdown>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

  <ng-container class="app-modal-footer">
    <div class="row justify-content-end">
      <div class="col-12 ">
        <hr />
        <small>
        <i>Le Markdown est un langage utilisé pour mettre en forme du texte sans
          utiliser de balises HTML.
          Sur LibertChan, Vous pouvez utiliser la
          plupart des commandes prévues par ce langage.</i
        >
      </small>
      </div>
    </div>
  </ng-container>
</app-modal>
