
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <ng-container *ngFor="let channel of channelList">
        <ng-container *ngIf="channel.category === 'INTEREST'">
        <span class="font-weight-light">|</span>
          <a
            [routerLink]="['/chan', channel.shortName]"
            title="{{ channel.name }}"
          >
            {{ channel.shortName }}
          </a>
        </ng-container>
      </ng-container>
      <span class="font-weight-light">|</span>
    </div>
    <div class="col-4">
      <ng-container *ngFor="let channel of channelList">
        <ng-container *ngIf="channel.category === 'NSFW'">
          <span class="font-weight-light">|</span>
          <a
            [routerLink]="['/chan', channel.shortName]"
            title="{{ channel.name }}"
          >
            {{ channel.shortName }}
          </a>
        </ng-container>
      </ng-container>
      <span class="font-weight-light">|</span>
    </div>
    <div class="col-4">
      <ng-container *ngFor="let channel of channelList">
        <ng-container *ngIf="channel.category === 'REGIONAL'">
          <span class="font-weight-light">|</span>
          <a
            [routerLink]="['/chan', channel.shortName]"
            title="{{ channel.name }}"
          >
            {{ channel.shortName }}
          </a>
        </ng-container>
      </ng-container>
      <span class="font-weight-light">|</span>
    </div>
  </div>
</div>
