// TODO: verif si launchModal encore besoin dans ce composant
// -> moved to panelModal
.launchModal {
  font-size: larger;
  font-weight:500;
  cursor: pointer;
}

.launchModal:hover {
  text-decoration: underline;
}


.boxi:hover {
  // box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  box-shadow: 0 0 11px rgb(117, 181, 202);
  cursor: pointer;
}
