img {
  max-width: 20vw;
  max-height: 10vh;
}

.topicContainer {
  max-height: 20vh;
  overflow-y: auto;
}

.hotpink:hover {
  background-color: red!important;
}

.topicContainer.defaultTheme:hover {
  // background-color: rgb(136, 188, 204);
  background-color: rgba(144, 164, 170, 0.274);
}

.topicLink {
  text-decoration: none;
  color: inherit;
}

.smallImage {
  max-width: 10vw;
  max-height: 5vh;
}
