

<div (click)="themeHotPink('themeHotPink')">
  BBBBBBBB
</div>
<!--
<div (click)="the()">
  THE()
</div> -->

<!--<div  (click)='goti()'>
  GETTER SERVICE
</div> -->

<select
  [(ngModel)]="userPreferences.theme"
  name="theme"
  (change)="changeTheme(userPreferences.theme)"
>
  <option
    *ngFor="let theme of themes"
    [ngValue]="theme.name"
    selected="userPreferences.theme === theme.name"
  >
    {{ theme.name }}
  </option>
</select>

<!-- <div (click)='getPreference()'>bbbb</div> -->
<!-- <p>Selected: {{ themeSelected }}</p> -->
