<!-- <label for="theme-select">Thème</label>

<select name="themes" id="theme-select">
    <option value="">Défault</option>
    <option value="dog">HotPink</option>
</select> -->

<div  (click)='themeHotPink("themeHotPink")'>
  BBBBBBBB
</div>

<select [(ngModel)]="themeSelected" name="theme" (change)="changeTheme()">
    <option
      *ngFor="let option of options"
      [ngValue]="option.name"
      selected="themeSelected === option.name"
    >
      {{ option.name }}
    </option>
  </select>

<!-- <div (click)='getPreference()'>bbbb</div> -->
<!-- <p>Selected: {{ themeSelected }}</p> -->
