<!-- <label for="theme-select">Thème</label>

<select name="themes" id="theme-select">
    <option value="">Défault</option>
    <option value="dog">HotPink</option>
</select> -->

<div (click)="themeHotPink('themeHotPink')">
  BBBBBBBB
</div>
<!--
<div (click)="the()">
  THE()
</div> -->

<!--<div  (click)='goti()'>
  GETTER SERVICE
</div> -->

<select
  [(ngModel)]="userPreferences.theme"
  name="theme"
  (change)="changeTheme(userPreferences.theme)"
>
  <option
    *ngFor="let option of options"
    [ngValue]="option.name"
    selected="userPreferences.theme === option.name"
  >
    {{ option.name }}
  </option>
</select>

<!-- <div (click)='getPreference()'>bbbb</div> -->
<!-- <p>Selected: {{ themeSelected }}</p> -->
