<div class="container-fluid">
  <div class="row">
    <span>{{ this.formatedDate }}</span
    ><span> - </span><span class="author">{{ this.message.author }}</span
    ><span> - </span><span class="id">{{ this.message.id }}</span>
  </div>

  <div class="row">
    <div *ngIf="this.message.image.imageLocation" class="px-0">
      <img
        src="{{ this.message.image?.imageLocation }}"
        alt="Image utilisateur"
      />
    </div>
    <div class="col">
      <p *ngFor="let p of this?.getTextContent()" [innerHTML]="p"></p>
    </div>
  </div>
</div>
