<div class="messageContainer container-fluid my-2" id="pc{{ this.message.id }}">
  <div class="row mx-1">
    <span>{{ this.formatedDate }}</span
    ><span>&nbsp; - &nbsp;</span
    ><span class="author">{{ this.message.author }}</span
    ><span> </span><span class="id">&nbsp; #{{ this.message.id }}</span>
    <span class="quote ml-2" (click)="quote()"
      ><sup>
        <svg
          height="10"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="quote-right"
          class="svg-inline--fa fa-quote-right fa-w-16"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="#000000"
            d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"
          ></path>
        </svg>
      </sup>
    </span>

    <ng-template #dangerTpl>
      <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24"><path d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z"/></svg> -->
      Message signalé !
    </ng-template>

    <button class="ml-2 btn-danger" (click)="signal(); showDanger(dangerTpl)">!</button>
  </div>
  <div class="row">
    <div
      *ngIf="this.message.image.imageLocation"
      class="px-0 pb-2"
      (mouseover)="showImg = true"
      (mouseout)="showImg = false"
    >
      <img
        class="mx-1"
        src="{{ this.message.image.imageLocation }}"
        alt="Image utilisateur"
      />
    </div>

    <div *ngIf="showImg">
      <div
        *ngIf="this.message.image.imageLocation"
        class="px-0 duplicatedImgExpand"
      >
        <img
          src="{{ this.message.image.imageLocation }}"
          alt="Image utilisateur"
        />
      </div>
    </div>

    <span *ngIf="!showImg"></span>
    <div class="col mt-3">
      <ng-container *ngFor="let p of this?.getTextContent()">
        <markdown [data]="p"></markdown>
      </ng-container>

      <!-- <p *ngFor="let p of this?.getTextContent()" [innerHTML]="p"></p> -->
    </div>
  </div>
</div>
