.messageContainer {
  border: 1px solid #609ed8b7;
}

// .id {
//   color: #177943;
// }



img {
  max-height: 32vh;
  max-width: 17vw;
  // width: 100%;
}

.duplicatedImgExpand {
  position: fixed;
  background-position: 50% 50%;
  top: 0px;
  right: 0px;
  z-index: 9002;
}
.duplicatedImgExpand img {
  object-fit: cover;
  max-width: 77vw;
  max-height: 100vh;
}

.author {
  color: rgb(25, 110, 189);
  font-weight: 540;
}
span {
  color: rgb(25, 110, 189);
}
// .quote svg{
// fill: green!important;
// }
