// [class*='container'] {
//   border: 1px solid coral;
// }
// [class*='row '] {
//   border: 1px solid red;
// }
// [class*='col-'] {
//   border: 1px solid green;
// }

.title {
  font-size: 2em;
}

.launchModal {
  font-size: larger;
  font-weight:500;
  cursor: pointer;
}

.launchModal:hover {
  text-decoration: underline;
}
