<app-navbar></app-navbar>
<app-header></app-header>
<div class="container-fluid">
  <app-panel-modal-message
    [messageList]="this.messages"
    [topicId]="this.topic?.id"
  >
  </app-panel-modal-message>

  <div class="row ">
    <div class="col-12 lead font-weight-bold title mb-2 ">
      {{ this.topic?.subject }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngFor="let message of messages">
        <app-message [message]="message"></app-message>
      </div>
    </div>
  </div>
</div>
<!--
<br><br>
  <!-- <div class="box">
    <iframe src="https://www.diginamic.fr/catalogue/developpement-web-et-mobile/developpeur-java-fondamentaux-du-java-ee/" width = "500px" height = "500px">
    </iframe>
  </div> -->
