<app-navbar></app-navbar>
<app-header></app-header>
<div class="container-fluid">
  <div class="m-2">
    <button (click)="openTopicModal()">+ nouveau message</button>
  </div>


  <app-panel-modal-message
    [channelName]="this.currentChannel"
    [topicsList]="this.topics"
  >
</app-panel-modal-message>


  <div class="row ">
    <div class="col-12 lead text-center title">
      {{ this.topic?.subject }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngFor="let message of messages">
        <app-message
          [date]="message.date"
          [textContent]="message.textContent"
          [imageLocation]="message.image?.imageLocation"
          [author]="message.author"
        ></app-message>
      </div>
    </div>
  </div>
</div>
